.nav{
  display: flex;
  justify-content: center;
}
.buttonclustor{
  display: flex;
}
.gallery {
  display: grid;
  justify-items: center;
  grid-auto-flow: row;
  /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
}
.logo{
  width: 100%;
  max-width: 50px;
}
.picture{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

